* {
    box-sizing: border-box;
}

.page-title {
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    font-size: 4em;
    font-weight: normal;
}

body {
    background-image: url("https://images.unsplash.com/photo-1580899075900-e31d83c91e28?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.new-game {
    text-align: center;
}

button {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2em;
    background-color: gray;
    border-style: solid;
    border-color: black;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}
.game-info {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card:hover {
    cursor: url("images/Sword.cur"), auto;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 2px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card-back {
    background-color: black;
    border-color: gray;
}

.card-front  {
    transform: rotateY(180deg);
    background-color: #0E2E2B;
    border-color: gray;
}

.card-value {
    width: 100px;
    height: 100px;
    transition: width 100ms eas-in-out, height 100ms ease-in-out;
}

.card-front:hover .card-value {
    width: 120px;
    height: 120px;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.match .card-value {
    animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.iron-throne {
    position: absolute;
    width: 130px;
    height: 130px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.card-back:hover .iron-throne {
    width: 160px;
    height: 160px;
}